---
import { GET } from "../api/[slug]";

import BaseLayout from "../../layout/BaseLayout.astro";
//
import { markedReadContent } from "../../utils/marked";
import { formatDate } from "../../utils/date";
import { calculateReadingTime } from "../../utils/readingTime";

export const prerender = false;

const response = await GET(Astro);
const { post } = await response.json();

if (!response.ok) {
  const errorText = await response.text();
  console.error("Fetch error:", errorText);
  throw new Error("Failed to fetch post");
}

if (!post) {
  throw new Error("Post not found");
}

const parsedContent = post ? markedReadContent(post.content) : "";
---

<BaseLayout class="post-detail">
  <div class="info">
    <div class="title">
      {post.title}
    </div>
    <div class="tags">
      {post.tags.map((tag: string) => <div class="tag">{tag}</div>)}
    </div>
    <div class="time-info">
      <div class="created-at">{formatDate(post.created_at)}</div>
      <div class="bullet">•</div>
      <div class="reading-time">
        {calculateReadingTime(post.content)} min read
      </div>
    </div>
  </div>

  <div class="content" set:html={parsedContent} />
</BaseLayout>
<style>
  .post-detail {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 48px;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
  }

  .info {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        background-color: #525252;
        border-radius: 100px;
        font-size: 14px;
      }
    }

    .time-info {
      display: flex;
      flex-direction: row;
      gap: 8px;
      .created-at {
        font-style: italic;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #525252;
  }
</style>
