---
import { formatPubDate } from "src/utli/Date";
import BlogPost from "../component/BlogPost.astro";
import BaseLayout from "../layout/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("post");

const pageTitle: string = "All post";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="post-list">
    {
      allPosts.map((post) => (
        <BlogPost
          url={`/post/${post.slug}`}
          title={post.data.title}
          imageUrl={post.data.image.url}
          desc={post.data.description}
          pubDate={formatPubDate(post.data.pubDate)}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .post-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
  }

  @media screen and (max-width: 475px) {
    .post-list {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
</style>
