---
import { GET } from "../api/tags";

import BaseLayout from "../../layout/BaseLayout.astro";

let tags = [];

try {
  // const response = await fetch(`${Astro.url.origin}/api/tags`);
  const response = await GET();

  if (!response.ok) {
    throw new Error(`Failed to fetch posts: ${response.status}`);
  }

  const data = await response.json();
  tags = data.tags;
} catch (error) {
  console.error(error);
}

const pageTitle: string = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tag-wrapper">
    {
      tags.map((tag: any) => (
        <p class="tag">
          <a href={`/tag/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag {
    /* border: 1px solid #a1a1a1; */
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #f8fcfd;
  }
</style>
