---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>업로드 날짜 <b>{frontmatter.pubDate.toString().slice(0, 10)}</b></p>
  <p>작성자 <b>{frontmatter.author}</b></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <div class="tag-wrap">
    {frontmatter.tags.map((tag:any) => (
    <div class="tag"><a href={`/tags/${tag}`}>{tag}</a></div>
    ))}
  </div>
  <slot />
</BaseLayout>

<style>
  a {
    color: #5081af;
  }

  .tag-wrap {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 14px;
  }

  .tag {
    border-radius: 100px;
    padding: 4px 16px;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>